
/* clases comunes*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Nunito' !important;
    height: 100%;
}
.image-fondo{
    background: url(../images/Galvaprime-fondo.jpg) no-repeat;
    background-size: cover;
}
/*.image-fondo::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(13, 125, 194, 0.493);
}*/
.opcionmenu:hover{
    font-weight: bold;
}

.imagelogin{
    filter:brightness(0) invert(1)
}


@media (max-height: 1080px) and (max-width: 1920px) {
    .rowlogin{
        padding-top: 5rem !important;
    }
    .imagelogin{
        width: 280px !important;
        height: 70px !important;
        position: relative;
        top: 120px !important;
    }
    .cardlogin{
        width: 30rem !important;
        margin-top: 11rem !important;
        padding: 20px 15px 40px 15px !important;
        position: relative;
        top: 40px !important;
    }
    .carousellogin{
        margin-top: 25rem !important;
    }
  }

  @media (max-height: 1050px) and (max-width: 1680px) {
    .rowlogin{
        padding-top: 5rem !important;
    }
    .imagelogin{
        width: 280px !important;
        height: 70px !important;
        position: relative;
        top: 150px !important;
    }
    .cardlogin{
        width: 30rem !important;
        margin-top: 11rem !important;
        padding: 10px 15px 30px 15px!important;
        position: relative;
        top: 50px !important;
    }
    .carousellogin{
        margin-top: 20rem !important;
    }
  }

  @media (max-height: 900px) and (max-width: 1600px) {
    .rowlogin{
        padding-top: 3rem !important;
    }
    .imagelogin{
        width: 280px !important;
        height: 70px !important;
        position: relative;
        top: 100px !important;
    }
    .cardlogin{
        width: 27rem !important;
        margin-top: 8rem !important;
        padding: 10px 15px 30px 15px!important;
        position: relative;
        top: 30px !important;
    }
    .carousellogin{
        margin-top: 17rem !important;
    }
    .navlogin{
        font-size: 14px;
    }
  }

  @media (max-height: 768px) and (max-width: 1366px) {
    .rowlogin{
        padding-top: 2rem !important;
    }
    .imagelogin{
        width: 250px !important;
        height: 60px !important;
        position: relative;
        top: 130px !important;
        left :-6px;
    }
    .cardlogin{
        width: 23rem !important;
        margin-top: 6rem !important;
        padding: 5px 15px 25px 15px!important;
        position: relative;
        top: 50px !important;
    }
    .carousellogin{
        margin-top: 16rem !important;
    }
    .navlogin{
        font-size: 12px;
    }
  }