/*Header*/

/*Fin Header*/
#menu_top {
  background-image: url(images/image-select.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#logo_izquierdo {
  display: block;
  float: left;
  margin-top: 4%;
  margin-left: 3%;
  position: relative;
}
#logo_derecho {
  display: block;
  float: right;
  position: relative;
  margin-top: 4%;
  margin-right: 1%;
  color: #fff;
}

.encima {
  display: block;
  position: relative;
  color: #fff;
  margin-top: 5%;
  font-size: 25;
}
@media (max-width: 1000px) and (max-width: 1000px) {
  .encima {
    width: 100% !important;
  }
}
.encima_2 {
  display: block;
  position: relative;
  color: #fff;
  margin-bottom: 2%;
}
.select_galvaprime {
  border: 2px solid #fff;
  background-color: transparent;
  margin: 10px;
  color: #fff;
  width: 250px;
  height: 32px;
}
#boton_buscar {
  border: 0px;
  background-color: #fff;
  color: #0d7ec2;
  height: 32px;
}
#seguimiento {
  background-image: url(images/Galvaprime-fondo.jpg);
}

.circulo {
  width: 3.5em;
  height: 3.5em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #0d7ec2;
  cursor: pointer;
  position: relative;
  padding: 10px !important;
  margin: 1em !important;
}
.circulo-iconos {
  width: 38px;
  height: 38px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  margin: 5px;
  border: 1px solid #dbdbdb;
  box-shadow: 10px 4px 83px -13px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 10px 4px 83px -13px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 10px 4px 83px -13px rgba(0, 0, 0, 0.85);
  align-items: center;
}
.circuloactivo {
  background: #125b87;
}
.circulo:hover {
  background: #125b87;
}
.circulo p {
  display: none;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  font-weight: bold;
  top: 0.7rem;
  left: 4rem;
  color: #0d7ec2;
  z-index: 100;
}
.circulo:hover p {
  display: block;
}

.opciones_menu {
  border-radius: 20px;
  width: 240px !important;
  height: 40px;
  margin: 7px 5px;
  padding: 5px 10px !important;
  text-decoration: none;
  align-items: center;
}
.opc {
  margin: 0px;
}
p {
  line-height: 1;
  font-size: 14px;
}
#opciones_top {
  display: block;
}
.menu_activo {
  background-color: #0d7ec2 !important;
  color: #ffffff !important;
  font-weight: bold !important;
}
.menu_no_activo {
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(87, 86, 86, 0.48);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(87, 86, 86, 0.48);
  -moz-box-shadow: 0px 0px 5px 0px rgba(87, 86, 86, 0.48);
}
.menu_no_activo:hover {
  background-color: #0d7ec2;
  color: #ffffff !important;
  font-weight: bold;
}

.rowcenter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.whatsapp,
.whatsapp:hover {
  padding: 0 !important;
}
.css-yk16xz-control,
.css-yk16xz-control:focus {
  background: transparent !important;
  border: 1px solid #ffffff !important;
}
.css-2613qy-menu {
  background: transparent !important;
  border: 1px solid #ffffff !important;
}
.select {
  width: 20em !important;
}

.css-1uccc91-singleValue,
.css-1wa3eu0-placeholder {
  color: white !important;
}
.css-1pahdxg-control {
  background: transparent !important;
  box-shadow: none !important;
}
.css-1pahdxg-control:hover {
  border-color: white !important;
}
.css-yk16xz-control:-webkit-autofill,
.css-yk16xz-control:-webkit-autofill:hover,
.css-yk16xz-control:-webkit-autofill:focus,
.css-yk16xz-control:-webkit-autofill:active {
  /*sirve para que a la hora de seleccionar una opcion guardada no muestre color de fondo y el color de la letra sea parecida a la anterior  */
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0px 1000px unset !important;
  -webkit-text-fill-color: #fff !important;
}
/*
       #menu1{
           background-image: url("./images//i-seguimiento-1.png");
           background-repeat: no-repeat;
           background-position: center center;
           background-size: cover;
       }*/
.detalles-grafica {
  background: linear-gradient(
    to right,
    rgba(13, 126, 194, 1) 0%,
    rgba(13, 165, 194, 1) 100%
  );
  text-align: center;
  color: #fff;
  padding: 20px;
  width: 80%;
  display: block;
  float: right;
  overflow: auto;
  scroll-behavior: auto;
}
.circulo-iconos {
  width: 38px;
  height: 38px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid #dbdbdb;
  box-shadow: 10px 4px 83px -13px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 10px 4px 83px -13px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 10px 4px 83px -13px rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.boton-activo {
  background: #0d7ec2;
}
.boton-inactivo {
  background: #fff;
}
.boton-activo:hover {
  background: #3f87ad;
}
.boton-inactivo:hover {
  background: #3f87ad;
}
/*.row{
           width: 100% !important;
       }*/
a.dropdown-toggle {
  color: white;
}
a.dropdown-toggle:hover,
a.dropdown-toggle:focus {
  color: white;
  font-weight: bold;
}
.dropdown a::after {
  display: none;
}

.tooltip-inner {
  background-color: transparent !important;
  color: #0d7ec2 !important;
  font-weight: bold;
}
.ReactTable .rt-th,
.ReactTable .rt-td,
.ReactTable input {
  padding: 1px 5px !important;
  position: relative !important;
}
.ReactTable {
  font-size: 14px !important;
}
.MuiIconButton-root {
  padding: 1px !important;
}

.ReactTable .rt-tbody {
  overflow: initial !important;
}
.-header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}
.rt-tbody {
  z-index: 1;
}
.-filters {
  z-index: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal,
#body::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to right,
    rgba(13, 126, 194, 1) 0%,
    rgba(13, 165, 194, 0.94) 100%
  ) !important;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
.layout-grafica {
  height: 600px;
}
.layout-grafica {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
@media (max-width: 540px) {
  .opciones_menu {
    border-radius: 5px;
    width: 100% !important;
    height: 40px;
    margin: 7px 5px;
    padding: 5px 10px !important;
    text-decoration: none;
    align-items: center;
  }
  @media (min-height: 1080px) and (min-width: 1920px) {
    .detalles-grafica {
      height: 530px;
    }
    .grafica{
      margin-top: 2%;
     }
  }
  @media (min-height: 500px) {
    .detalles-grafica {
      height: 530px;
      overflow: auto;
    }
  }
  .circulo {
    padding: 10px !important;
    width: 100%;
    height: 55px;
    background: #0d7ec2;
    cursor: pointer;
    position: relative;
  }
  #navbar-responsive {
    display: block;
  }
  #menu-lateral {
    display: flex;
    align-items: center;
  }
}
#navbar-responsive {
  display: none;
}
.barragrafica {
  height: fit-content;
}
body {
  overflow: hidden;
}
.MuiInputBase-input {
  font-size: 12px !important;
}

@media (max-height: 1080px) and (max-width: 1920px) {
  .dashboard {
    margin-top: 15vh;
  }
  .Navbarleft {
    margin-top: 19vh;
  }
  .menutop {
    height: 25vh;
  }
  .navmenutop {
    padding: 3rem 3rem 0.5rem 3rem !important;
  }
  .opcionestop {
    height: 7rem;
    padding-top: 60px;
  }
  .containerpage {
    height: 60vh;
    padding-top: 50px;
  }
  .detalles-grafica, .grafica {
    height: 33vh;
    margin: 0 auto;
  }
  .fontdetallegrafica {
    font-size: 20px;
  }
  .fontdetalletotal {
    font-size: 17px;
  }
  .detallepage {
    margin-top: 65px;
  }
  .detalletabla {
    height: 30.5vh;
  }
  .acercadepage {
    margin-top: 65px;
    height: 36vh;
  }
  .grafica{
    margin-top: 2%;
   }

}

@media (max-height: 1050px) and (max-width: 1680px) {
  .dashboard {
    margin-top: 12vh;
  }
  .Navbarleft {
    margin-top: 17vh;
  }
  .menutop {
    height: 25vh;
  }
  .navmenutop {
    padding: 3rem 3rem 0.5rem 3rem !important;
  }
  .opcionestop {
    height: 7rem;
    padding-top: 50px;
  }
  .containerpage {
    height: 60vh;
    padding-top: 20px;
  }
  .detalles-grafica , .grafica{
    height: 35vh;
  }
  .fontdetallegrafica {
    font-size: 20px;
  }
  .fontdetalletotal {
    font-size: 17px;
  }
  .detallepage {
    margin-top: 50px;
  }
  .detalletabla {
    height: 30.5vh;
  }
  .acercadepage {
    margin-top: 50px;
    height: 36vh;
  }
  .grafica{
    margin-top: 2%;
   }
}

@media (max-height: 900px) and (max-width: 1600px) {
  .dashboard {
    margin-top: 10vh;
  }
  .Navbarleft {
    margin-top: 13vh;
  }
  .menutop {
    height: 30vh;
  }
  .navmenutop {
    padding: 3rem 3rem 0.5rem 3rem !important;
  }
  .opcionestop {
    height: 5.5rem;
    padding-top: 25px;
  }
  .containerpage {
    height: 60vh;
    padding-top: 0;
  }
  .detalles-grafica, .grafica {
    height: 39vh;
  }
  .fontdetallegrafica {
    font-size: 20px;
  }
  .fontdetalletotal {
    font-size: 17px;
  }
  .detallepage {
    margin-top: 12px;
  }
  .detalletabla {
    height: 37vh;
  }
  .acercadepage {
    margin-top: 18px;
    height: 43vh;
  }
  .grafica{
    margin-top: 2%;
   }
}

@media (max-height: 768px) and (max-width: 1366px) {
  .dashboard {
    margin-top: 60px;
  }
  .Navbarleft {
    margin-top: 9vh;
  }
  .menutop {
    height: 28vh;
  }
  .navmenutop {
    padding: 0.5rem 3rem 0.5rem 3rem !important;
  }

  .opcionestop {
    height: 4rem;
    padding-top: 5px;
  }
  .containerpage {
    height: 60vh;
    padding-top: 0;
  }
  .detalles-grafica, .grafica {
    height: 43vh;
    padding: 12px;
  }
  .grupo{
    Word-wrap: break-Word !important;
    white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: Ellipsis !important; 
  width: 80% !important;
  }

  .fontdetallegrafica-min {
    font-size: 17px;
    padding: 0px;
    margin-bottom: 3%;
    margin-top: 3%;
  }

  .fontdetallegrafica-max {
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .total-min{
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 1%;
  }
  .total-max{
    margin-top: -6% !important;
    margin-bottom: 4%;
  }
  .row-max{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: -1% !important;
    margin-bottom: -3% !important; 
  }
  .texto{
    margin : 0px;
    padding: 0px;
  }
  .fontdetalletotal-min {
    font-size: 17px;
  }
  .fontdetalletotal-max {
    font-size: 16px;
  }
  .detallepage {
    margin-top: 0;
  }
  .detalletabla {
    height: 43vh;
  }
  .acercadepage {
    margin-top: 0;
    height: 50vh;
  }
}
@media (min-height: 769px) and (min-width: 1367px) {
  #fecha {
    bottom: 1%;
    right: 40em !important;
    left: 40em !important;
    margin-left: 5%;
  }
}
@media (max-height: 768px) and (max-width: 1366px) {
  #fecha {
    bottom: 5%;
    right: 30em !important;
    left: 30em !important;
    margin-left: 4.8%;
  }

}
@media (max-height: 720px) and (max-width: 1280px) {
  #fecha {
    bottom: 2%;
    right: 10em !important;
    left: 10em !important;
    margin-left: 4.5%;
  }
  #bienvenida{
    margin-left: -2.5%;
  }
}
@media (max-height: 768px) and (max-width: 1024px) {
  #fecha {
    bottom: 2%;
    right: 10em !important;
    left: 10em !important;
    margin-left: 4.8%;
  }
   #bienvenida{
    margin-left: -6.5%;

  }
}
@media (max-height: 600px) and (max-width: 800px) {
  #fecha {
    bottom: -10%;
    right: 8.5em !important;
    left: 8.5em !important;
    margin-left: 4%;
  }
}
.grafica{
 margin-top: 6%;
}
#bienvenida{
  color:#ffffff !important; 
  margin-left: -4%  !important;
}
.dropdown-menu {
background-color: transparent !important;
border-color: #fff !important;
color : #fff;
}
.dropdown-menu:hover {
  background-color: transparent !important;
  color : #fff;
  }
.dropdown-item {
  color : #fff !important;
  text-decoration: none !important;
  font-weight: bold !important;
}
.dropdown-item:hover {
  background-color: transparent !important;
}