.card{
    /*box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px !important;*/
}
.form-control{
    background-color:transparent !important;
    color: #fff !important;
    border-radius: 50px !important;
}

.form-check-input:checked{
    background-color: #0e7ec3 !important;
    border-color: #0e7ec3 !important;
}
.form-check-input{
    background-color: #fff !important;
}


.navbar {
    background-color: transparent !important;
}

.navbar .navbar-nav .nav-link{
    color: white !important;
}
.nav-item{
    margin: 0 10px !important;
}
.form-control:focus{
    background-color: transparent !important;
    color: #fff !important;
    border-color: #fff !important;
}

.form-control::placeholder{
    color: #fff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /*sirve para que a la hora de seleccionar una opcion guardada no muestre color de fondo y el color de la letra sea parecida a la anterior  */
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px unset; 
    -webkit-text-fill-color: #fff;
}
